# 文件路径: .github/workflows/main.yml
name: HidenCloud Auto Renew (Python)

on:
  workflow_dispatch:
  schedule:
    # 初始时间，脚本会自动修改这个分钟数
    - cron: '24 2 * * *'

permissions:
  contents: read # 主脚本只需要读权限，修改权限交给 cron.yml

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Cloudflare WARP
      uses: fscarmen/warp-on-actions@v1.4
      with:
        stack: ipv4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Script
      env:
        HIDEN_COOKIE: ${{ secrets.HIDEN_COOKIE }}
        WP_APP_TOKEN_ONE: ${{ secrets.WP_APP_TOKEN_ONE }}
        WP_UIDs: ${{ secrets.WP_UIDs }}
        WEBDAV_URL: ${{ secrets.WEBDAV_URL }}
        WEBDAV_USER: ${{ secrets.WEBDAV_USER }}
        WEBDAV_PASS: ${{ secrets.WEBDAV_PASS }}
      run: python main.py
